* {
    margin: 0;
    padding: 0;
}

.headerbar {
    display: flex;
    width: 100%;
    background-color: #474747;
    height: 160px;
    align-items: center;
    flex-direction: column;
}

.header-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 125px;
}

.logo {
    display: flex;
    width: 27%;
    left: 0;
    border: 5 solid black;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 45%;
    height: 38px;
    align-items: center;
    padding: none;
    padding: 0px;
    background: #f6f6f6;
    border-radius: 5px;
}

.logoimg {
    width: 55%;
    margin-left: 50px
}

.navbar form {
    display: flex;
    width: 100%;
    align-items: center;
}

.navbar.input {
    width: 500px;
    height: 38px;
    padding: 5px, 10px;
    border: none;
    box-sizing: border-box;
    flex-grow: 1;
    text-indent: 15px;
}

.navbar.input:focus {
    outline: none;
}

.navbar.submit {
    height: 38px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #FFC516;
    border: none;
    cursor: pointer;
}

.materials-symbols-outlined.search {
    display: inline-flex;
    height: 25px;
    width: 25px;
    margin: auto;   
}

.header.links {
    display: inline-flex;
    width: 35%;
    height: 80%;
    margin: auto;
    justify-content: right;
    flex-grow: 1;
    padding: 0px;
    margin-right: 5px;
}

.login-link {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    right: 0;
    margin: 10px;
}

.login.text {
    font-size: 20px;
    font-weight: 500;
}

.login.text strong {
    color: #FFC516;
    font-weight: 750;
}

.cart-link {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    right: 0;
    margin: 10px;
}

.cart.text {
    font-size: 20px;
    font-weight: 500;
}

.cart.text strong {
    color: #FFC516;
    font-weight: 750;
}

.header-menu {
    display: flex;
    background-color: #303030;
    display: flex;
    height: 35px;
    width: 100%;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.menu-button:hover {
    cursor: pointer;
}