* {
    margin: 0;
    padding: 0;
}

.headerbar {
    width: 100%;
    background-color: #474747;
    height: 150px;
    align-content: center;
}

.logo {
    display: flex;
    width: 20%;
    left: 0;
    border: 5 solid black;
}

.navbar {
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
}

.buttons {
    display: flex;
    width: 30%;
    margin: auto;
}

.logoimg {
    width: 55%;
    margin-left: 50px
}

.navbar.input {
    width: 200px;
    height: 25px;
    display: flex;
}

.materials-symbols-outlined {
    display: flex;
}